html, body {
    text-align: center;
    background-color: #e5eafa;
}

* {
    margin: 0;
    padding: 0;
}

#welcome-section {
    height: 100vh;
    padding-top: 45vh;
}

#welcome-section p {
    color: #093824;
}

#navbar ul {
    width: 100%;
    text-align: right;
    position: fixed;
    background-color: #093824;
}

#navbar ul li {
    display: inline-block;
    margin: 50px;
}

#navbar ul li a {
    text-decoration: none;
    color: #e5eafa;
}

#navbar ul li a:hover {
    color: #23b5d3;
}

#projects {
    height: 100vh;
    padding-top: 10vh;
    background-color: #c6ccb2;
}
#contact-master {
    height: 50vh;
    padding-top: 25vh;
}

#contact-header {
    padding: 50px 0 25px;
}

#contact ul li {
    display: inline-block;
    list-style-type: none;
    padding: 25px 50px 50px 50px;
}

#contact ul li a {
    text-decoration: none;
    color: #e5eafa;
    border: 1px solid;
    padding: 10px;
    border-color: #071013;
    background-color: #071013;
}
#contact ul li a:hover {
    color: #23b5d3;
    background: #e5eafa;
}

#footer {
    padding: 50px 0 50px 0;
    background: #093824;
    color: #e5eafa;
    width: 100%;
}